
.carousel-images {
  position: relative;
  height: 400px;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 100%;
  height: 100%;
  border: 1px solid #171d25;
  object-fit: cover;
}

.carousel-images img:hover{
  border: 1px solid white;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left, .right {
  cursor: pointer;
  background-color: #c6d4df8e;
  color: #fff;
  padding: 8px 0px 30px 17px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 50px;
  width: 50px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  cursor: pointer;
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #c6d4df;
}